:root {
	--base-font-size:24px;
	--base-margin:calc(var(--base-font-size) / 3);
	--base-indent:var(--base-font-size);
}
* {
	box-sizing:border-box;
}
html, body {
	height:100%; margin:0;
}
body {
	font-size:var(--base-font-size);
	font-family:"Noto Sans TC","Microsoft JhengHei",system-ui,-apple-system,Segoe UI,Arial;
}

.al { text-align:left; vertical-align:top; }
.ac { text-align:center; vertical-align:middle; }
.ar { text-align:right; vertical-align:bottom; }

.black { color:black; }
.grey { color:grey; }
.red { color:red; }
.green { color:green; }
.blue { color:blue; }
.brown { color:brown; }
.orange { color:orange; }
.purple { color:purple; }

.hide,.disabled { display:none; }

.fill,.full,.mask {
	width:100%; height:100%; left:0; top:0;
	margin:0; padding:0; overflow:hidden;
}
.fill { overflow-y:auto; }
.mask { position:absolute; background-color:rgba(255,255,255,0.5); }
